h1{
    background-color: #75a0f0;
    margin-bottom: -16px;
}

.p1{
    background-color: #b8cae0;
    margin-bottom: -16px;
}

.p3{
    background-color: #b8cae0;
    margin-bottom: -16px;
}
.p2{
    background-color: #99ffff;
    margin-bottom: -16px;
}