*{
    font-family: Arial, sans-serif;
    margin: 0;
    color: whitesmoke;
}

body{
    background:url('Images/restaurant.jpg') no-repeat;
    background-size: cover;
}

.wrapper{
    width: 60%;
    max-width: 500px;
    margin: 8px;
    margin-left: 200px;
}

nav{

}
 nav ul{
     list-style-type: none;
     padding: 0;
     border: 1px solid none;
 }

 nav a{
     text-decoration: none;
     text-align: center;
     color: white;
     display: block;
     padding: 10px;
     font-weight: bold;
 }

 nav a:hover{
     background-color: #555;
 }

 .w{
     width: 250px;
     height: 400px;
     background-color: black;
     opacity: 0.6;
     padding: 44px;
     margin: 8px 8px;
 }

 .w h2{
     text-align: center;
     text-transform: uppercase;

 }

 .w h5{
     text-align: justify;
     color: darkgray;
 }

 .w h3{
     text-align: center;
     text-transform: uppercase;
     margin-right: 40px auto;
 }

 .opt form, input[type="button"]{
     background-color: black;
     color: white;
     padding: 10px;
     margin: -14px auto;
     padding-left: 50px;
    padding-right: 50px;
text-align: center;
    }

    form, input[type="button"]:hover{
        background-color: #555;
    }

    .grid{
        width: 100px;
        height: 100px;
        text-align: center;
    }

    .grid-2{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        text-align: center;
        margin-left: 50px;
        margin-top: 100px ;
     }

     .grid:hover .overlay {
        opacity: 1;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80%;
        width:80%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA;
      }
 /* flex styles*/

 @media screen and (min-width: 768px){

    nav ul{
        display: flex;
    }

    nav li{
        flex: 1 1 0;
    } 

 }