#p1{
    border: 12px solid black;
    background-color: #99ffff;
}
#p2{
    border: 6px solid black;
    background-color: #99ffff;
}
#p3{
    border: 1px solid black;
    background-color: #99ffff;
}
#p4{
    border: 1px solid #99ffff;
    background-color: #99ffff;
}