body{
    background-color:grey;
}
.h1{
    text-align: center;
    color: black;
}



.container{
    max-width: 960px;
    margin: 0 auto;
    background: white;
    font-size: 24px;
    padding: 25px;
}
.parallax{
    background: url('Images/photograph.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.parallax1{
    background: url('Images/photograph1.jfif') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.container1{
    max-width: 960px;
    margin: 0 auto;
    background: white;
    font-size: 24px;
    padding: 25px;
}

.parallax2{
    background: url('Images/photograph2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.container2{
    max-width: 960px;
    margin: 0 auto;
    background:white;
    font-size: 24px;
    padding: 25px;
}

.parallax3{
    background: url('Images/photograph3.jfif') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.container3{
    max-width: 960px;
    margin: 0 auto;
    background: white;
    font-size: 24px;
    padding: 25px;
}